In [1]:
x = 5
print(type(x))

<class 'int'>

In [2]:
x = "Hello World"
print(type(x))

<class 'str'>

In [3]:
x = 20.5
print(type(x))

<class 'float'>

In [4]:
x = ["apple", "banana", "cherry"]
print(type(x))

<class 'list'>

In [5]:
x = ("apple", "banana", "cherry")
print(type(x))

<class 'tuple'>

In [6]:
x = {"name" : "John", "age" : 36}
print(type(x))

<class 'dict'>

In [7]:
x = True
print(type(x))

<class 'bool'>

In [10]:
x = 5
x = float(x)
print(type(x))

<class 'float'>

In [11]:
x = 5.5
x = int(x)
print(type(x))

<class 'int'>

In [12]:
x = 5
x = complex(x)
print(type(x))

<class 'complex'>

In [13]:
x = "Hello World"
print(len (x))

11

In [15]:
txt = "Hello World"
x = txt[0]

In [19]:
txt = "Hello World"
x = txt[2:5]
print(x)

llo

In [20]:
txt = " Hello World "
x = txt.strip()
print(x)

Hello World

In [22]:
txt = "Hello World"
txt = txt.upper()
print(txt)

HELLO WORLD

In [23]:
txt = "Hello World"
txt = txt.lower()
print(txt)

hello world

In [27]:
txt = "Hello World"
txt = txt.replace("H", "J")
print(txt)

Jello World

In [30]:
age = 36
estatura = 1.60
txt = "My name is John, and I am {} estatura {}"
print(txt.format(age, estatura))

My name is John, and I am 36 estatura 1.6

In [32]:
age = 36
estatura = 1.60
txt = "My name is John, and I am {1} estatura {0}"
print(txt.format(age, estatura))

My name is John, and I am 1.6 estatura 36

In [33]:
txt = "We are the so-called \"Vikings\" from the \"north\"."
print(txt)

We are the so-called "Vikings" from the "north".

In [35]:
print(10 > 9)

True

In [37]:
print(9 < 9)

False

In [38]:
print(bool("abc"))

True

In [39]:
print(bool(0))

False

In [40]:
print(10 * 2)

20

In [41]:
print(10 / 2)
print (type(10 / 2))

5.0
<class 'float'>

In [42]:
fruits = ["apple", "banana"]
if "apple" in fruits:
  print("Yes, apple is a fruit!")

Yes, apple is a fruit!

In [44]:
if 5 != 10:
  print("5 and 10 is not equal")

5 and 10 is not equal

In [45]:
if 5 == 10 or 4 == 4:
  print("At least one of the statements is true")

At least one of the statements is true

In [46]:
fruits = ["apple", "banana", "cherry"]
print(fruits[1])

banana

In [51]:
fruits = ["apple", "banana", "cherry"]
fruits [0] = "kiwi"
print(fruits)

['kiwi', 'banana', 'cherry']

In [52]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [55]:
fruits = ["apple", "banana", "cherry"]
fruits.insert(4,"lemon")
print(fruits)

['apple', 'banana', 'cherry', 'lemon']

In [56]:
fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")
print(fruits)

['apple', 'cherry']

In [57]:
fruits = ["apple", "banana", "cherry"]
print(fruits[-1])

cherry

In [58]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits[2:5])

['cherry', 'orange', 'kiwi']

In [59]:

fruits = ["apple", "banana", "cherry"]
print(len(fruits))

3

In [60]:
fruits = {"apple", "banana", "cherry"}
if "apple" in fruits:
  print("Yes, apple is a fruit!")

Yes, apple is a fruit!

In [61]:
fruits = ("apple", "banana", "cherry")
print(fruits[0])

apple

In [62]:

fruits = ("apple", "banana", "cherry")
print(fruits[-1])

cherry

In [63]:
fruits = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(fruits[2:5])

('cherry', 'orange', 'kiwi')

In [65]:
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")
print(fruits)

{'banana', 'orange', 'apple', 'cherry'}

In [67]:
fruits = {"apple", "banana", "cherry"}
more_fruits = ["orange", "mango", "grapes"]
fruits.update(more_fruits)
print(fruits)

{'mango', 'apple', 'banana', 'orange', 'grapes', 'cherry'}

In [69]:
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")
print(fruits)

{'apple', 'cherry'}


terea entre lista y conjunjuntos con ejemplos

In [70]:
fruits = {"apple", "banana", "cherry"}
fruits.discard("banana")
print(fruits)

{'apple', 'cherry'}

In [72]:
car ={
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(car.get("model"))

Mustang

In [77]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car["color"]  = "red"
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [74]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car["year"] = 2020

In [76]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["potencia"] = 500
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'potencia': 500}

Tarea teminanr el curso y adjuntar en el note book ver si tiene diploma

In [1]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.pop("model")

'Mustang'

In [3]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.clear()
print(car)

{}

In [4]:
a = 50
b = 10
if a > b:

  print("Hello World")

Hello World

In [5]:
a = 50
b = 10
if a!= b:
 print("Hello World")

Hello World

In [6]:
a = 50
b = 10
if a == b:

  print("Yes")
else:

  print("No")

No

In [13]:

a = 50
b = 10

if a == b:
  print("1")
elif a > b:
  print("2")
else:
  print("3")

2

In [15]:

if a == b and c == d:
  print("Hello")

In [17]:
c=5
d=5
if a == b or c == d:
  print("Hello")

Hello

In [18]:
if 5 > 2:
 print("Five is greater than two!")

Five is greater than two!

In [19]:
if 5 > 2: print("Five is greater than two!")

Five is greater than two!

In [20]:

print("Yes") if 5 > 2 else print("No")

Yes

In [24]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [30]:
i = 1
while i < 6:
if i == 3:    
      break 
i += 1

IndentationError: expected an indented block (<ipython-input-30-b472f0089991>, line 3)

In [16]:
i = 0
while i < 6:
  i += 1
  if i == 3:    
 continue
  print(i)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 5)

In [5]:
i = 1
while i < 6:
  print(i)
  i += 1
else:

  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [8]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:

  print(x)

apple
banana
cherry

In [12]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":   
   continue

  print(x)

apple
cherry

In [17]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [21]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":    
    break
  print(x)

apple

In [22]:

def my_function():
  print("Hello from a function")

In [23]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [24]:
def my_function(fname, lname):
  print(fname)

In [27]:
def my_function(x): 
 return x + 5

In [28]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

In [29]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

In [30]:
x = lambda a:a

In [31]:

class MyClass:
  x = 5

In [32]:
class MyClass:
  x = 5
p1 = MyClass()

In [33]:
class MyClass:
  x = 5

p1 = MyClass()

print(p1.x)

5

In [34]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

In [35]:
class Student(Person):

SyntaxError: unexpected EOF while parsing (<ipython-input-35-093e6922bbd9>, line 1)

In [36]:
class Person:
  def __init__(self, fname):
    self.firstname = fname

  def printname(self):
    print(self.firstname)

class Student(Person):
  pass

x = Student("Mike")
x.printname()

Mike

In [ ]:

import mymodule

In [ ]:
import mymodule as mx

In [ ]:
import mymodule

print(dir(mymodule))

# Conjunto

Un conjunto es una colección que no está ordenada ni indexada, y no permite duplicados. En Python, los conjuntos se escriben entre llaves.

In [ ]:
# example set
newset = {"one", "two", "three"}

* No puede acceder a los elementos de un conjunto haciendo referencia a un índice

* Los conjuntos son mutables

* Son útiles para verificar duplicados

# Lista

Una lista es una colección ordenada y modificable. En Python las listas se escriben entre corchetes.

In [ ]:
# example list
newlist =["one", "two", "three"]

* Accede a los elementos de la lista haciendo referencia al número de índice
* Las listas son mutables.